@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', sans-serif;
  background-color: #fff;
  color: white;
  margin: 0;
  overflow-x: hidden;
}

.search {
  position:relative;
  float:right;
  margin-right: 100px;
  height: 50px;  
}

.search .input {
  background-color: #fff;
  border-radius: 24px;
  border-color: #2f4e68;
  font-size: 14px;
  padding: 15px;
  height: 50px;
  width: 50px;
  margin-top: 25px;
  transition: width 0.3s ease;
}

.btn {
  background-color: #fff;
  border-radius: 50%;
  border-color: #2f4e68;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  margin-top: 25px;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  transition: transform 0.3s ease;
}

.btn:hover{
  background-color: #2f4e68;
  border-color: #fff;
}

.btn:focus,
.input:focus {
  outline: none;
}

.search.active .input {
  width: 200px;
}

.search.active .btn {
  transform: translateX(198px);
}

.logo{
  float: right;
  margin-top: 5px;
  margin-right: 140px;
  margin-bottom: 100px;
  width: 40vw;
  height: 8vw;
}

.container {
  background-image: linear-gradient(#fdbe83, #c8a3b5, #2f4e68);
  background: color #c8a3b5;;
  transform-origin: top left;
  transition: transform 0.5s linear;
  padding-bottom: 10px;
  width: 100vw;
  min-height: 50vh;
  padding: 5vh;
}

.container.show-nav {
  transform: rotate(-25deg);
}

.circle-container {
  position: fixed;
  top: -100px;
  left: -100px;
}

.circle {
  background-color: #2f4e68;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: relative;
  transition: transform 0.5s linear;
}

.container.show-nav .circle {
  transform: rotate(-70deg);
}

.circle button {
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;
}

.circle button:focus {
  outline: none;
}

.circle button#open {
  left: 60%;
}

.circle button#close {
  top: 60%;
  transform: rotate(90deg);
  transform-origin: top left;
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;
}

nav {
  position: fixed;
  bottom: 40px;
  left: 0;
  z-index: 100;
}

nav ul {
  list-style-type: none;
  padding-left: 30px;
}

nav ul li {
  text-transform: uppercase;
  color: #2f4e68;
  margin: 40px 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
}

nav ul li i {
  font-size: 20px;
  margin-right: 10px;
}

nav ul li + li {
  margin-left: 15px;
  transform: translateX(-150%);
}

nav ul li + li + li {
  margin-left: 30px;
  transform: translateX(-200%);
}

nav a{
  color: #2f4e68;
  text-decoration: none;
  transition: all 0.9s;
}

nav a:hover {
  color: #fdbe83;
  font-weight: bold;
}

.content img {
  max-width: 100%;
}

.content {
  width: auto;
  margin: auto;
  padding-left: 100px;
  padding-right: 50px;
}

.content h1 {
  margin-top: 100px;
}

.content h2 {
  margin-bottom: 10px;
}

.content h3 {
  color: #fff;
  font-size: 18px
}

.content p {
  color: #fff;
}

.size-btns{
  font-size: 14px;
  font-weight: bolder;
  color: #fff;
  background-color: #2f4e68;
  border-color: #fff;
  border-radius: 20px;
  width: 15em;
  height: 2.5em;
  margin-left: 2.0em;
  display: inline-block;
}

#sizechart {
  text-align: center;
}

.size-btns:hover{
  color: #fff;
  border-color: #fff;
  background-color: #c8a3b5;
}

.wrapper {
  display: inline-block;
  position: absolute;
  padding-bottom: 50px;
}

.wrapper h1{
  font-size: 36px;
}

.shopping-table{
  width: 70em;
  text-align: left;
  padding-top: 50px;
}

.shopping-table td{
  text-align: center;
  padding-bottom: 1em;
}

.tshirt{
  padding-top: 1em;
  width: 10em;
  height: 10em;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.crewneck-sweatshirt{
  padding-top: 1em;
  width: 10em;
  height: 12em;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.hoodie{
  padding-top: 1em;
  width: 11em;
  height: 12em;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.tank-top{
  padding-top: 1em;
  width: 9em;
  height: 12em;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.sweatpants{
  padding-top: 1em;
  width: 9em;
  height: 12em;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.shorts{
  padding-top: 1em;
  width: 8em;
  height: 14em;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.cap{
  padding-top: 1em;
  width: 11em;
  height: 12em;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.beanie{
  padding-top: 1em;
  width: 9em;
  height: 12em;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

td img:hover{
  -webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.product-names{
  font-size: 20px;
}

.product-descriptions{
  color:#2f4e68;
  font-size: 16px; 
  text-align: center;
}

input[type=submit] {
  font-family: 'Lato', sans-serif;
  font-size: large;
  font-weight: bold;
  width: 15em;
  height: 4em;
  color: #fff;
  padding:5px 15px; 
  background:#2f4e68;; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 20px; 
}

input[type=submit]:hover {
  font-family: 'Lato', sans-serif;
  color: #fdbe83;
  padding:5px 15px; 
  background:#fff; 
}

.color-option{
  width: 5em;
  height: 1em;
  border-radius: 2em;;
}

input[type='radio'] { 
   -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
  transform: scale(1.5);
}

.sizing-table {
  border-collapse: collapse;
  margin-bottom: 2em;
  font-size: 1em;
  text-align: center;
  min-width: 600px;
  box-shadow: 0 20px 25px rgba(0, 0, 0, 1);
  background-color: #fdbe83;
  border-radius: 20px;
}

.sizing-table th,
.sizing-table td {
    padding: 10px 12px;
}

.sizing-table:hover{
  color: #fdbe83;
  background-color: #fff;
}

